@keyframes wiggle {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-3px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(3px, 0, 0);
  }
}
@keyframes login-scale-down {
  from {
    box-shadow: 0 0 0 0 $font, inset 0 0 0 0 $font;
    opacity: 1;
    transform: scale(1);
  }
  to {
    box-shadow: 0 0 30px 30px $font, inset 0 0 30px 30px $font;
    opacity: 0;
    transform: scale(0.5);
  }
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.box-spinner {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: $bg;
  height: 100%;
  z-index: $z_index1;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    font-size: 64px;
    animation: wiggle 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
  }
}

.Home {
  footer {
    .log-in-button {
      position: fixed;
      bottom: 170px;
      width: 70px;
      height: 70px;
      box-shadow: 0 0 1px 1px $font, inset 0 0 1px 1px $font;

      @include media('>ipad') {
        bottom: 100px;
      }

      &::after {
        content: '';
        border: 2px solid $font;
        width: 70px;
        height: 70px;
        position: absolute;
        border: 1px solid $font;
        box-shadow: 0 0 1px 1px $font, inset 0 0 1px 1px $font;
        animation: login-scale-down 2s infinite forwards;
      }

      &:active {
        box-shadow: inset 0 0 10px 10px $font, inset 0 0 10px 10px $font;
      }
    }
  }
}
