/* -------------------------------------------------------------------
 * ## colours
 * ------------------------------------------------------------------- */
$shadow: #170a1c;
$bg: #000000;
$bg2: #006e90;
$font: #f3efe0;
$font2: #000000;
$link: #ee6c4d;
$focus: #b47eb3;
$green: #25d0b9;
$red: #ef6f6c;
$chart_pink: #efa9ae;

/* -------------------------------------------------------------------
 * ## fonts
 * ------------------------------------------------------------------- */
$sans_font: 'DM Sans', sans-serif;
$serif_font: 'Domine', serif;
$h_font: 'Alata', sans-serif;
$code: 'Share Tech Mono', monospace;

/* -------------------------------------------------------------------
 * ## layers
 * ------------------------------------------------------------------- */
$z_index0: -1;
$z_index1: 1;
$z_index2: 10;
$z_index3: 100;
$z_index4: 1000;
$z_index5: 10000;

/* -------------------------------------------------------------------
 * ## container's max width
 * ------------------------------------------------------------------- */
$max-width: 1366px !default;

/* -------------------------------------------------------------------
 * ## url where all assets served from
 * ------------------------------------------------------------------- */
$base-url: '../../assets/' !default;
