.content {
  .recharts-polar-grid {
    circle,
    line,
    path {
      stroke: darken($dutch_white, 20%);
      stroke-width: 2px;
    }
  }

  text {
    fill: $font;
    font-weight: bold;
  }

  .recharts-polygon {
    stroke-width: 3px;
  }
}
